Source: libconvert-asn1-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Damyan Ivanov <dmn@debian.org>,
           Ansgar Burchardt <ansgar@debian.org>,
           gregor herrmann <gregoa@debian.org>
Section: perl
Priority: optional
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl,
                     perl (>= 5.15.3) | libmath-bigint-perl
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/libconvert-asn1-perl.git
Vcs-Git: git://anonscm.debian.org/pkg-perl/packages/libconvert-asn1-perl.git
Homepage: https://metacpan.org/release/Convert-ASN1

Package: libconvert-asn1-perl
Architecture: all
Depends: ${perl:Depends},
         ${misc:Depends},
         perl (>= 5.15.3) | libmath-bigint-perl
Description: Perl module for encoding and decoding ASN.1 data structures
 Convert::ASN1 will parse ASN.1 descriptions and will encode from and decode to
 perl data structures using a hierarchy of references.
